* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

header {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 20px 0px;
    background-color: #063E8C;
    color: white;
    height: 80px;
    line-height: 80px;
}

nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15.4%;
}

nav .caixa{
   background-color: #F5F907;
   height: 120px;
   width: 300px; 
   text-align: center;
   line-height: 120px;
   border: 1px solid rgb(235, 200, 48);
   border-radius: 10px;
}

.caixa a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #063E8C;
    font-weight: bold;
    font-size: x-large;
}

.back {
    margin-top: 8%;
    margin-bottom: 25px;
    text-align: center;
}

.back a {
    width: 80px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #2887d4;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer .footer-itens {
    display: flex;
    justify-content: space-around;
    background-color: #273272;
    height: 180px;
   
}

.copyright {
    position: relative;
    top: -40px;
    color: rgb(223, 241, 241);
    text-align: center;
}

.itens-rodape {
    margin-top: 15px;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

footer p {
    color: rgb(229, 231, 190);
    margin-bottom: 8px;
}

footer img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

/*tratando a responsividade*/
@media (max-width: 576px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    
    nav .caixa{
     margin: 10px auto;
    }
    
    footer .footer-itens {
         display: flex;
         flex-direction: column;
         text-align: center;
         height: 500px;
         margin-top: 20px;
     }
 
     .itens-rodape{
         margin-top: 1px;
     }
 
     .copyright {
         position: relative;
         top: -30px;
     }

     header {
        font-size: 23px;
    }
 } 