* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: auto;
}

.title-social{
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-top:30px;
    background-color: #063E8C;
    color: white;
    height: 60px;
    line-height: 60px;
}

.secao-social{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
   
}

.noticia-social{
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.795);
}

.noticia-social img{
    width: 400px;
}

aside{
    border-bottom: 1px solid rgba(155, 108, 6, 0.555);
    border-left: 1px solid rgba(155, 108, 6, 0.555);
    padding-left: 12px;
}

.legenda{
    margin-top: 7px;
    height: 30px;
    line-height: 30px;
    color: white;
    background-color: #131C1C;
    text-align: center;
}

.titulo-sidebar{
    color: #063E8C;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 30px;
}

.img-sidebar{
    margin-left: 78px;
}

span {
    position: relative;
    top: -5px;
    margin-left: 5px;
    color: grey;
}

.back {
    margin-top: 8%;
    margin-bottom: 25px;
    text-align: center;
}

.back a {
    width: 80px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #2887d4;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer .footer-itens {
    display: flex;
    justify-content: space-around;
    background-color: #273272;
    height: 180px;
}

.copyright {
    position: relative;
    top: -40px;
    color: rgb(223, 241, 241);
    text-align: center;
}

.itens-rodape {
    margin-top: 15px;
}

footer h3 {
    color: white;
    margin-bottom: 20px;
}

footer p {
    color: rgb(229, 231, 190);
    margin-bottom: 8px;
}

footer img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

/*tratando a responsividade*/
@media (max-width: 576px) {
   footer .footer-itens {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 500px;
        margin-top: 20px;
    }

    .itens-rodape{
        margin-top: 1px;
    }

    .copyright {
        position: relative;
        top: -30px;
    }

    .secao-social{
       display: flex;
       flex-direction: column;
       
    }

    .noticia-social{
        border: none;
    }

    aside{
        display: none;
    }

    .legenda{
       width: 400px;
    }
} 